// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
    text-align: center;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.newcategory {
    text-align: center;
    margin-top: 50px;
    margin-left: 280px;
    margin-right: 280px;
    margin-bottom: 100px;
    padding-top: 0px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.label{
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 0px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

.showcategory{
    text-align: center;
    margin-top: 50px;
    margin-left: 280px;
    margin-right: 280px;
    margin-bottom: 100px;
    padding-top: 0px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.btn {
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        padding: 5px;
        margin:4px;
        border-radius: 4px;
        border: none;
        transition: all 0.3s ease 0s;

        &.edit{
            background: #4CAF50;
            &:hover {
                background: #228C22;
            }
        }

        &.destroy{
            background: #434343;
            &:hover {
                background: #ED2939;
            }
        }

        &:hover {
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
        box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
        transition: all 0.4s ease 0s;
        }
  }

.category .img-item{
    width: 100%;
    margin-left: auto; 
    margin-right: auto; 
    display: block;
}
        
.category {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: inline-block;
    width: 15%;
    padding:10px;
    min-height: 400px;
    
}

#categorybox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 50px;
    margin-bottom: 80px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
    justify-content: space-evenly;
}


