footer {
    flex-shrink:0;
    min-height: 80px;
    color: white;
    background-color: #464E51;

    width: 100%;
    text-align: center;
}

footer h4 {
   text-align: center;
   color: #fff;
   font-size: 25px;
}

footer .social-media {
   text-align: center;
}

footer .social-media ul {
   list-style-type: none;
   display: flex;
   justify-content: center;
    padding-left: 0;
}

footer .social-media ul .social-icons-first {
    padding-left: 0;
}

footer .social-media .fa {
   padding: 6px;
   font-size: 16px;
   width: 30px;
   text-decoration: none;
   margin: 5px 2px;
   border-radius: 33%;

   color: black;
   background-color: #9edbfa;
}

footer .social-media .fa:hover {
   opacity: 0.7;
}

footer .footer-menu {
   text-align: center;
   padding: 15px 0;
}

footer .footer-menu ul {
   list-style-type: none;
   padding-left: 0;
}

footer .footer-menu ul li {
   margin: 10px;
}

footer .footer-menu ul li a {
   text-decoration: none;
   color: #fff;
}

footer .footer-menu ul li a:hover {
   color: rgb(221, 220, 220);
}

@media only screen and (min-width: 400px){
   footer .social-media ul .social-icons-first {
      display: flex;
      margin-right: initial;
   }

   footer .social-media ul .social-icons-second {
      display: flex;
   }

   footer .social-media ul li {
      padding: 0 5px;
   }
}

@media only screen and (min-width: 960px){
   footer {
      display: flex;
   }

   .social-media {
      width: 50%;
      order: 1;

      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   .social-media h4 {
      margin-bottom: 20px;
   }

   .footer-menu {
      width: 50%;
   }
}
