// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
    text-align: center;
}

.card-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
    justify-content: space-evenly;

    .card {
        width: 300px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        margin: 10px;
        

        &:hover {
            box-shadow: 0 8px 16px 0 #9edbfa;
        }

        h4 {
            text-align: center;
            font-size: 20px;
            text-transform: capitalize;
        }

        .img-item {
            height: 300px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .container-card-text {
            padding: 2px 16px;
        }

        .card-btns {
            padding: 12px;
            display: flex;
            justify-content: space-evenly;

            .btn {
                color: #0d1a26 !important;
                text-transform: uppercase;
                text-decoration: none;
                background: #d0d6e2;
                padding: 4px;
                border-radius: 4px;
                display: inline-block;
                border: 1px solid #9edbfa;
                transition: all 0.3s ease 0s;
                

                &:hover {
                    background: #ffff;
                    border: 1px solid #9edbfa;
                    -webkit-box-shadow: 0px 5px 40px -10px #9edbfa;
                    -moz-box-shadow: 0px 5px 40px -10px #9edbfa;
                    box-shadow: 5px 40px -10px #9edbfa;
                    transition: all 0.4s ease 0s;
                }
            }
        }
    }
}



.showitem{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    
  .showitem-container{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

    .image{
        .image-item{
            height: 400px;
        }

        
    }
    
    .metadata{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 30px;
        
        
        .section{
            border-bottom: 1px solid #dcdcdc;
            padding: 20px;
            
            .title{
                font-size: 30px;
                margin-bottom: 30px;
                text-transform: uppercase;
            }
            
            .price-cart{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                
                .price{
                    font-size: 16px;
                    font-weight: bold;
                }
                
            
            }
                        
            .stocks{
                display:flex;
                flex-direction: row;
                justify-content: flex-end;
                color: green;
            }
        
            
        }
        
        
        .btn {
            color: #0d1a26 !important;
            text-transform: uppercase;
            text-decoration: none;
            background: #d0d6e2;
            padding: 4px;
            border-radius: 4px;
            display: inline-block;
            border: 1px solid #9edbfa;
            transition: all 0.3s ease 0s;
                

            &:hover {
                background: #ffff;
                border: 1px solid #9edbfa;
                -webkit-box-shadow: 0px 5px 40px -10px #9edbfa;
                -moz-box-shadow: 0px 5px 40px -10px #9edbfa;
                box-shadow: 5px 40px -10px #9edbfa;
                transition: all 0.4s ease 0s;
            }
                   

            &.cart{
                text-transform: uppercase;
                padding: 10px;
                color: white !important;
                background: #003366;
                
                &:hover{
                    color: #222;
                    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
                    transform: scale(1.02,1.02);
                }
            }
            
            &.category{
                padding: 5px;
                background: #f2f2f2;
                border: 1px solid #f2f2f2;
                border-radius: 4px;
                color: #5F6368;
                font-size: 8px;
                width: 120px;
                
                a{
                    text-decoration: none;
                }

                
                &:hover{
                    background: #f8f8f8;
                    border: 1px solid #c6c6c6;
                    color: #222;
                    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
                }
            }
        
        }     
    }
    }
    
    .othertitle{
        padding: 20px 0 ;
        border-top: 1px solid #dcdcdc;
        font-weight: bold;
    }
    
    .description{
        padding: 15px;
    }
    
    .otheritems-container{
        display:flex;
        flex-direction:row;
        justify-content: space-between;


        .otheritem{
            display:flex;
            flex-direction: column;
            margin-bottom: 15px;
            .image-thumbnail{
                height: 90px;
            }
            
            .itemtitle{
                text-transform: uppercase;
                font-weight: bold;
                font-size: 10px;
            }
        }
        

    }
    
}

.line {
    width: 58px;
    height: 4px;
    background: #9edbfa;
    border: none;
    margin-bottom: 40px;
}

