h1 {
    text-align: center;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
}


.signup, .signin, .confirminstruc, .changepassword, .forgotpassword {
    text-align: center;
    margin-top: 50px;
    margin-left: 280px;
    margin-right: 280px;
    margin-bottom: 100px;
    padding-top: 0px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.signin label{
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 0px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

.signup label{
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 0px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

