// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
 background-color: #fff;
 font-family: verdana, arial, helvetica, sans-serif;
}
 
.profiletop{
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.profilecontainer{
    text-align: center;
    margin-top: 50px;
    margin-left: 280px;
    margin-right: 280px;
    margin-bottom: 100px;
    padding-top: 0px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    margin: 10px;
    padding-top: 40px;
    padding-bottom: 18px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-top: 100px;
}

label{
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 0px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

.area{
	padding: 10px;
	margin-bottom: 10px;
	width: 80%;
	border-radius: 8px;
	border: none;
}

.inputs{
	padding: 10px;
	margin-bottom: 10px;
	width: 65%;
}

.inputs .select{
    width: 70%;
    margin-top: auto;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    outline: none;
}

.buttons{
    color: #0d1a26 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #d0d6e2;
    padding: 4px;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #9edbfa;
    transition: all 0.3s ease 0s;
    cursor: pointer;
                
    &:hover {
        background: #ffff;
        border: 1px solid #9edbfa;
        -webkit-box-shadow: 0px 5px 40px -10px #9edbfa;
        -moz-box-shadow: 0px 5px 40px -10px #9edbfa;
        box-shadow: 5px 40px -10px #9edbfa;
        transition: all 0.4s ease 0s;
    }
}





