// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
 background-color: #fff;
 font-family: verdana, arial, helvetica, sans-serif;
}
 
.profiletop{
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.profilecontainer{
    text-align: center;
    margin-top: 50px;
    margin-left: 280px;
    margin-right: 280px;
    margin-bottom: 100px;
    padding-top: 0px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
   
}

h1 {
    text-align: center;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
    
}

h2 {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-top: 100px;
}

.profilecontainer label{
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 0px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	
}

.area{
	padding: 10px;
	margin-bottom: 10px;
	width: 80%;
	border-radius: 8px;
	border: none;
}

.inputs{
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 40%;
}

.inputs .select{
    width: 70%;
    margin-top: auto;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    outline: none;
}


.buttons{
    color: #0d1a26 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #d0d6e2;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
    display: inline-block;
    border: none;
    transition: all 0.3s ease 0s;
                
    &:hover {
    background: #ffff;
    border: 3px solid #333;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
    
    }
}





@media screen and (min-width:600px) and (max-width:992px){

    .profilecontainer{
	width: 50%;
    }
}

@media screen and (max-width:600px){
	.profilecontainer{
		width: 100%;
	}

    .profilecontainer{
	float: none;
	width: 100%;
	box-sizing: none;
	padding: 0px;
    }

}