<h2>Categories</h2>

<div id="categorybox">
    <% @categories.each do | category| %>
        <div class="category">
           <p><b><%= category.title %></b></p>
           <%= image_tag(category.image, :class => "img-item") %>
           <p><%= category.description %></p>
           <p><%= link_to category.title, {controller: "items", action: "category", title: category.title}, class: "buttons" %></p>
        </div>
    <% end %>
</div>



 
