<h2>Categories</h2>

<% @categories.each do | category| %>
    <div class="category">
           <p><%= category.title %></p>
            <p><%= category.description %></p>
           <%= image_tag(category.image, :class => "img-item") %>
            </div>
             
           <p><%= link_to category.title, {controller: "items", action: "category", title: category.title}, class: "buttons"%></a></p>
    </div>
<% end %>


