<h2>Categories</h2>
<hr class="line">

<div class="card-container" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
<% @categories.each do | category| %>
  <div class="card" style="box-shadow:none">
    <h4><%= category.title.sub('-',' ') %>s</h4>
    <%= image_tag(category.image, :class => "img-item") %>
    <div class="container-card-text">

      <p><%= category.description %></p>
      </div>
     
      <div class="card-btns">
        <%= link_to category.title, {controller: "items", action: "category", title: category.title}, class: "buttons" %>
      </div>
    </div>
  <% end %>
  </div>
</div>

