<footer class="footer">
      <section class=social-media>
         <h4>Follow Us</h4>
         <nav>
            <ul class="social-icons-first">
               <li><a href="#" class="fa fa-linkedin"></a></li>
               <li><a href="#" class="fa fa-pinterest"></a></li>
               <li><a href="#" class="fa fa-twitter"></a></li>
            </ul>
            <ul class="social-icons-second">
               <li><a href="#" class="fa fa-youtube"></a></li>
               <li><a href="#" class="fa fa-instagram"></a></li>
               <li><a href="#" class="fa fa-facebook"></a></li>
            </ul>
         </nav>
      </section>


      <nav class="footer-menu">
         <ul>
            <li><%= link_to "ScootieShop", "/"%></li>
            <li><%= link_to "Cart", "/cart" %></li>
            <li><%= link_to "Popular Products", "/popular_products" %></li>
         </ul>
      </nav>
      
            
      <nav class="footer-menu">
         <ul>
            <li>Contact Us</li>
            <li>We accept calls from Monday through Friday at 9AM till 5PM</li>
            <li>Here is our contact number (01) 449 8500.</li>
            <li>Our office is located at Mayor Street Lower</li>
            <li>International Financial Services Centre, Dublin</li>

         </ul>
      </nav>
      
      
      
</footer>


